footer{
    background: url("../IMG/homePage\ pics/Asset 10.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    color: $white;
    position: relative;
    height: 8rem;
    display: flex;
    align-items: center;
    text-align: center;
    p{
        margin: 0 auto;
    }
}