@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100;300;400;500&display=swap');
// common text


// common Font Variables
$heading_font: 'Permanent Marker', cursive;
$para-font: 'Roboto', sans-serif;
$small-bold-font: 'Arial',  sans-serif;

// background Variables
$white: #ffff;
$gray: rgb(208, 206, 206);
$black-lght: rgb(43, 43, 43);
$yellow:yellow;
$black:rgb(0, 0, 0);
$orange:rgb(249, 174, 59);
$btn_gradient: linear-gradient(to left, rgb(225, 97, 6)30%,rgb(255, 196, 0),rgb(225, 105, 6)70%);
$progressBarGradient:linear-gradient(to left, rgb(225, 148, 6),rgb(255, 225, 0),rgb(225, 112, 6));